/*=====================
    CALZADOS.HTML
=======================*/

/*HEADER*/

/*Barra de navegacion*/
*{
   box-sizing: border-box;
}
.navbar {
   background-color: #F75E11;
}

.fondoSlider{
   background-color: rgb(133, 133, 133);
}

.navbar-nav a {

   text-decoration: none;
   color: #f8f9fa;
   margin-top: 1%;
}

.opciones {
   flex: content;
   justify-content: center;
   align-items: center;
}

.contenedorNombre {
   padding: 0px !important;
}

#nombre {
   font-family: 'Rubik Mono One', sans-serif;
   color: cornsilk;
   margin-right: 2% !important;
}

/*LOGIN*/
.login {
   padding: 0px !important;
   display: block ruby;
}

div.login li {
   list-style: none;
}

#navbarDropdownMenuLink {
   padding: 0px;
   margin-right: 10% !important;
}

#botonLogin {
   width: 3rem;
   height: 1rem;
}

/*Categorías*/
.categorias {
   max-width: 100%;
}

 .tipo{
   font-size: 1.3rem;
}

/*Herramientas filtrado*/
.filtrado {
   flex: content;
   height: 63px;
   text-align: center;
   align-items: center;
}

.filtrado button {
   height: 62px;
   cursor: pointer;
   background-color: #CCDEDD;
   outline-style: none;
   border-bottom-style: none;
}

/*Publicaciones*/

.marca {
   font-family: 'Lato', sans-serif;
   color: rgb(121, 158, 156);
   text-transform: uppercase;
   padding-left: 8% !important;
}

.tipoCalz {
   padding-left: 8% !important;
   font-family: 'Lato', sans-serif;
   margin-bottom: 5%;
}

.precio {
   padding-left: 8% !important;
   font-family: 'Lato', sans-serif;
   color: #F75E11;


}

.imgPublicacion {
   max-width: 100%;
}

/*PAGINACIÓN*/
.paginacion {
   margin-right: 2% !important;
}


/*FOOTER*/
.redes {
   flex: content;

}

.red {
   background-color: #97B8B6;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.linkRed{
   text-decoration: none;
   color: #f8f9fa;
   font-size: 1.3;
}



@media (min-width: 988px) {
   div.navbar-nav a.btn {
      margin-right: 2%;
   }
}

/*=====================
    HOME.HTML
=======================*/

.categorias {
   background-color: rgb(153, 177, 176);
}

.categorias a {
   text-decoration: none;
   color: white;
}

/*Contenido principal*/

 img {
   max-width: 100%;
}

.novedades {
   top: 91%;

   background: none;

   position: relative;

   left: 1%;

}
/*
div img {
   max-width: 100%;
} */

.titulo {
   z-index: 2;
   bottom: 67%;
   left: 61%;
}

.botonTitulo{
   background-color: #F75E11 !important;
}

.imgMarca {
   flex: content !important;
   justify-content: center !important;
}

.boton {
   top: 80%;
   left: 40%;
}

.verMas {
   font-size: 1.5rem !important;
}

.tituloMarca {
   height: 3rem;
   background-color: #97B8B6;
   color: #f8f9fa;
   font-family: 'Lato', sans-serif;
   font-size: 2rem;
}

.divisor{
   padding: 0px;
   background-color: #F75E11;
   height: 0.5rem;
}
.container-fluid{
   padding: 0px !important;
}

/* FOOTER */

footer{
   background-color: #222222;
}
#suscribete{
   color: #a4a4a4;
}

.list-group-item{
   background-color:#a0a0a0 !important ;
}

.faq{
  padding-bottom: 50px;
  background-image: url(../design/contacto/contact-background.jpg);
  background-size: contain;
}
.titulo-faq{
  background-color: #000;
  color: #fff;
  padding-left: 10px;
  width: 100%;
}
section .card{
  background-color: rgba(255,90,0,1);
  margin-bottom: 20px;
  color: #000;
  border: black solid 2px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 70%;
}
.card-body{
  background-color: white;
}
section .btn {

  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 100%;
}



.producto{
  padding-bottom: 120px;
  overflow: hidden;
}
.mini{
  width: 100%;
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
div .card img{
  width: 100px;
  height: 100px;
  padding-right: 10px
}
#muestra{
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#grupo{
  margin-left: auto;
  margin-right: auto
}
.guia{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: black;
}

#detalle{
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

#descrip{
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
#carrito{
  background-color: rgba(255,90,0,0.7);
}
#carrito img{
  width: 50px;
  height: 30px;
}
.pre{
  font-family: 'Lato', sans-serif;
  color: #F75E11;
  font-size: 20px;
}
#negro{
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 50px 50px;
}
#blanco{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50px 50px;
}



/*Barra de navegacion*/
*{
   box-sizing: border-box;
}
.navbar {
   background-color: #F75E11;
}

.fondoSlider{
   background-color: rgb(133, 133, 133);
}

.menu a {

   text-decoration: none;
   color: #f8f9fa;
   margin-top: 1%;
}

.opciones {
   flex: content;
   justify-content: center;
   align-items: center;
}

.contenedorNombre {
   padding: 0px !important;
}

#nombre {
   font-family: 'Rubik Mono One', sans-serif;
   color: cornsilk;
   margin-right: 2% !important;
}

/*LOGIN*/
.login {
   padding: 0px !important;
   display: block ruby;
}

div.login li {
   list-style: none;
}

#menu{
   padding: 0px;
   margin-right: 10% !important;
}

#botonLogin {
   width: 3rem;
   height: 1rem;
}

/* --- CONTACTO --- */
.contacto-back{
   background-image: url(../design/contacto/contact-background.jpg);
   background-size: cover;
}

/* --- REGISTRO --- */
.back-color{
   background-image: url(../design/contacto/registro-back.jpg);
   background-size: cover;
}

/* --- PERFIL --- */
.body-perfil {
   background: #f2f2f2;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
}

/* --- BARRA LATERAL --- */
.barra-lateral {
   background: #262a34;
   color: #fff;
   min-width: 300px;
   min-height: 100vh;
   padding: 0;
}

.barra-lateral a  {
   color: #fff;
}

/* --- LOGOTIPO --- */

.barra-lateral .logo {
   background: #FF5A00;
   margin-bottom: 2px;

}

.barra-lateral .logo h2 {
   font-size: 30px;
   font-family: 'Roboto', sans-serif;
   padding: 20px;
   text-align: center;
   font-weight: 300;
   margin: 0;
}

/* --- MENU --- */
.barra-lateral .menu a {
   display: block;
   padding: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover {
   background: #fff;
   text-decoration: none;
}

.barra-lateral .menu a i {
   margin-right: 20px;
   font-weight: normal;
}

/*--- MAIN ---*/

.main {
   padding-top: 40px;
}

.main .columna {
   padding-left: 40px;
   padding-right: 40px;
}

.main .titulo{
   color: #262a34;
   font-size: 25px;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 20px;
}

.main .widget {
   margin-bottom: 40px;
}

/* --- Ultimas compras --- */

.main .columna .contenedor-a {
   box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.main .contenedor-a .producto {
   background: #fff;
   padding: 20px;
   border-bottom: 1px solid #dfdfdf;
}


/* --- Widget estadisticas */

.main .estadisticas .contenedor {
   box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}

.main .estadisticas .caja {
   background: #fff;
   border: 1px solid #e3e3e3;
   padding: 40px 20px;
   flex: 1;
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

.main .estadisticas .caja h3 {
   margin-bottom: 10px;
   color: #35ae6b;
}

.main .estadisticas .caja p {
   color: #a8a8a8;
   margin-bottom: 0;
}

.main .estadisticas .caja:first-child {
   border-right: none;
}

.main .estadisticas .caja:last-child {
   border-left: none;
}

/* --- Widget Recien Vistas --- */

.main .productos .contenedor {
   box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.main .productos .producto {
   background: #fff;
   padding: 20px;
   border-bottom: 1px solid #dfdfdf;
}

.foto {
   width: 64px;
   height: 64px;
   overflow: hidden;
   margin-right: 20px;
   border-radius: 100px;
}

.foto a {
   display: inline-block;
}

.foto img {
   width: 100%;
}
.texto {
   flex: 1;
}

.texto-descripcion {
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
}

.main .productos .producto .botones button {
   background: none;
   cursor: pointer;
   color: #fff;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 500;
   border: none;
   display: inline-block;
   padding: 5px 9px;
   border-radius: 3px;
   transition: all .3s ease;
   margin-right: 10px;
   margin-bottom: 10px;
}

.main .productos .producto .botones .comprar{background: #35ae6b;}
.main .productos .producto .botones .eliminar{background: #b74848;}
.main .productos .producto .botones .denunciar{color: #acacac;}

.main .productos .producto .botones .comprar:hover{background: #449d44;}
.main .productos .producto .botones .eliminar:hover{background: #c9302c;}
.main .productos .producto .botones .denunciar:hover{
   background: #acacac;
   color: #fff;
}

/* FOOTER */

.divisor{
   padding: 0px;
   background-color: #F75E11;
   height: 0.5rem;
}

footer{
  background-color: #222222 !important;
}
#suscribete{
  color: #a4a4a4;
}

.op{
  background-color:#a0a0a0 !important ;
}


/* --- MEDIAQUERIES --- */

@media screen and (max-width: 1300px){
   .barra-lateral{
      min-width: auto;
   }

   .barra-lateral .logo{
      display: none;
   }

   .barra-lateral .menu a span{
      display: none;
   }

   .barra-lateral .menu a i{
      margin: 0;
   }
}

@media screen and (max-width: 575px){
   .barra-lateral{
      min-height: auto;
   }

   .barra-lateral .menu a{
      display: inline-block;
      border-bottom: none;
   }

   .main .widget form button{
      width: 100%;
   }
}

@media screen and (max-width: 320px){
   .main .productos .producto .foto{
      width: 30px;
      height: 30px;
   }

   .main .productos .producto .botones button{
      width: 100%;
   }
}

@media (min-width: 988px) {
   div.navbar-nav a.botonOp {
      margin-right: 2%;
   }
}
